* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 0.5px solid #f7f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 350px;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 2.5rem;
    color: #2196f3;
    margin-bottom: 3rem;
}

.counterCount{
    font-size: 4rem;
    margin-bottom: 1rem;
}

.increment{
    padding: 10px 20px;
    background-color: #009688;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
}

.reset{
    background-color: #607d8b;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
}

.decrement{
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
}
